html {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.4rem;
}

ul, figure {
  margin: 0;
  padding: 0;
}

a {
  color: #444;
  text-decoration: none;
}
